@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl text-body;
}
h2 {
  @apply text-3xl text-body;
}
h3 {
  @apply text-2xl text-body;
}
p {
  @apply text-body;
}

ul {
  list-style: none;

  li {
    display: flex;
    align-items: center;

    &:before {
      content: "•";
      color: #000;

      width: 0.5rem;
    }
  }
}

ul[aria-busy] {
  list-style: none;

  li {
    &:before {
      content: "";
    }
  }
}

ol {
  list-style: none;
  counter-reset: list;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:before {
      counter-increment: list;
      content: counter(list) ". ";
      color: #000;
    }
  }
}

@layer components {
  /* Button Styles */
  .primary-button {
    @apply rounded-lg border-none border-black p-6 !transition-all hover:bg-gray-100 hover:shadow-button-hover;
  }
}

@layer utilities {
  /* Utility Classes */
  .font-protest-strike {
    font-family: "Protest Strike", sans-serif;
  }

  .font-inter {
    font-family: "Inter", sans-serif;
  }
}

@layer text {
  /* Text Styles */
  .text-major {
    @apply font-bold font-protest-strike;
  }

  .text-body {
    @apply font-normal font-inter;
  }
}
